<!-- <div class="container-fluid">
  <ng-container *ngIf="status == 'removed' || status == 'activated'">
    <div class="row justify-content-md-center align-items-center full">
      <div class="col-5">
        <div class="text-center">
          <h3><i class="text-info fas fa-sign-in-alt"></i> กรุณาใส่บัตรประชาชนของท่าน</h3>
          <br>
          <img src="assets\card\card.gif" width="250px">
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="status == 'inserted'">
    <div class="row justify-content-md-center align-items-center full">
      <div class="col-4">
        <p class="text-center">กำลังอ่านค่าข้อมูลจากบัตร <img src="assets/loading2.gif" width="35px"></p>
        <div class="mb-2">
          <progressbar max="100" [value]="loading" type="success" [striped]="true" [animate]="true"><i>{{loading}}%</i></progressbar>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="status == 'success'">
    <div class="row justify-content-md-center align-items-center full">
      <div class="text-center">
        <div *ngIf="response">
          <app-card [Data]="response"></app-card>
        </div>
        <hr>
        <div>
          <button class="btn btn-info mb-2" style="width: 100%;"><i class="fas fa-caret-square-right"></i>
            เบี้ยยังชีพผู้สูงอายุ
          </button>
          <button class="btn btn-info mb-2" style="width: 100%;"><i class="fas fa-caret-square-right"></i>
            เบี้ยความพิการ
          </button>
          <button class="btn btn-info mb-2" style="width: 100%;"><i class="fas fa-caret-square-right"></i>
            เงินสงเคราะห์ผู้ป่วยเอดส์
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="status == 'error'">
    <div class="row justify-content-md-center align-items-center full">
      <div class="col-6 text-center">
        <h3><i class="text-danger fas fa-exclamation-triangle"></i> การติดต่อกับบัตรหรือเครื่องสูญหาย
          กรุณาถอดเเละเสียบบัตรใหม่อีกครั้ง</h3>
        <img src="assets\card\card-remove.gif" width="250px">
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="status == 'deactivated'">
    <div class="row justify-content-md-center align-items-center full">
      <div class="col-6 text-center">
        <h3><i class="text-danger fas fa-times-circle"></i> การติดต่อกับเครื่องเสียบบัตรสูญหาย</h3>
      </div>
    </div>
  </ng-container>
</div> -->
<nav class="uk-navbar-container uk-animation-fade" uk-navbar>
  <div class="uk-navbar-left">

    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="#"></a></li>
    </ul>

  </div>
</nav>
<div class="container-fluid uk-animation-fade">
  <div class="row">
    <div class="col-7">
      <div>
        <p class="title">ข้อมูลผู้ยืนคำร้อง</p>
        <div class="row">
          <div class="col-12">
            <div class="uk-grid-small uk-child-width-1-1 uk-flex-center" uk-grid>
              <div>
                <div class="uk-card uk-card-default uk-card-body">Item 1</div>
              </div>
            </div>
            <div class="uk-grid-small uk-child-width-1-2 uk-flex-center" uk-grid>
              <div>
                <button class="uk-button uk-button-default uk-width-1-1">
                  <span uk-icon="plus-circle"></span> เพิ่มผู้เดินเรื่องเเทน
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <p class="title">ข้อมูลผู้เดินเรื่องเเทน</p>
        <div class="row">
          <div class="col-12">
            <div class="uk-grid-small uk-child-width-1-1 uk-flex-center" uk-grid>
              <div>
                <div class="uk-card uk-card-default uk-card-body">Item 1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 box-manu" style="padding: 0px;">
      <div class="uk-card uk-card-default uk-card-body uk-width-1-1" style="height: 1200px;">
        <p class="title"><span uk-icon="question"></span> กรุณาเลือกธุระกรรม</p>
        <button class="uk-button uk-button-default uk-width-1-1">
          <span uk-icon="chevron-right"></span> เบี้ยยังชีพผู้สูงอายุ
        </button>
        <button class="uk-button uk-button-default uk-width-1-1">
          <span uk-icon="chevron-right"></span> เบี้ยความพิการ
        </button>
        <button class="uk-button uk-button-default uk-width-1-1">
          <span uk-icon="chevron-right"></span> เงินสงเคราะห์ผู้ป่วยเอดส์
        </button>
      </div>
    </div>
  </div>
</div>