.title{
 font-size: 30px;
}
.uk-button{
    position: relative;
    padding: 20px;
    margin-top: 5px;
    font-size: 25px;
    span{
        position: absolute;
        top: 30px;
        left: 15px;
    }
}
.uk-navbar-container{
    background-color: #8cc6ff;
}